@page "/Memorial/List"

<h3>MomorialList</h3>

@inherits Blazor.Fluxor.Components.FluxorComponent

@using Dorisol1019.MemorialArchiver.Shared.Models.Memorial;
@inject HttpClient client;


@using Blazor.Fluxor
@using Stores.Memorial;

@inject IDispatcher Dispatcher
@inject IState<MemorialListState<Movie>> memorialState



@if (memorialState.Value.IsLoading)
{
    <p>取得中でござる</p>
}
else if (memorialState.Value.Memorials.Any())
{
    @foreach (var memorialMovie in memorialState.Value.Memorials)
    {
        <MemorialMovie Item="@memorialMovie" />
    }
}
else
{
    <p>なんもないよ</p>
}

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Dispatcher.Dispatch(new FetchMemorialItemsAction());
    }
}
